.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  label {
    display: block;
    margin: 10px 0 5px;
  }
  
  input{
    display: block;
    width: 96%;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
  }
  select, button {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  